PORT=5000
NODE_ENV=development
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/roverbuddies?schema=public"
JWT_SECRET="roverbuddies_production_jwt_access_secret_2026_key"
JWT_REFRESH_SECRET="roverbuddies_production_jwt_refresh_secret_2026_key"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
CLIENT_URL="http://localhost:5173"
